textarea {
    min-height: 400px;
}

/*a:hover {*/
/*    color:black;*/
/*    text-decoration:none;*/
/*    cursor:pointer;*/
/*}*/

#single-email {
    border: 2px solid black;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#single-email :hover{
    cursor: pointer;
    background-color: rgb(194, 236, 255);
}
#sender-inbox {
    grid-column: 1;
}
#email-summary-inbox {
    grid-column: 2;
    display: inline-block;
}

#subject-inbox {
    grid-column: 4;
}

#body-summary-inbox {
    grid-column: 3/4;
}

#timestamp-inbox {
    grid-column: 4;
}

#sender {
    font-weight: bold;
    margin-bottom: 20px;
}
#subject {
    font-weight: bold;
    font-size: 1.2em;
}

#tStamp {
    float: right;
}
#email-body {
    float: bottom;
}
#unreadButton {
    float: right;
}

#email-interactions-header > button {
    margin: 15px;
}
